version: '3.5'

services:
  db:
    container_name: "db"
    image: postgres:13-alpine
    volumes:
      - ./db_dev/:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev.db
    ports:
      - '5432:5432'
    networks:
      - custom

  web:
    container_name: "web"
    build: ./DjangoMenu
    volumes:
      - static_volume:/usr/src/app/static/
    expose:
      - 8000
    env_file:
      - ./.env
    networks:
      - custom
    depends_on:
      - db

  nginx:
    container_name: "nginx"
    build: ./nginx
    ports:
      - 8000:80
    depends_on:
      - web
    volumes:
      - static_volume:/usr/src/app/static/
    networks:
      - custom

volumes:
  static_volume:
  media_volume:
  db_dev:
    name: db_dev


networks:
  custom:
    driver: bridge
